.bg-tcolor-70 {
    background-color: #305041;
}

.bg-tcolor-green {
    background-color: #CEDFC3;
}

.text-tcolor-green {
    background-color: #F4924B;
}
.text-tcolor-green:hover {
    background-color: #ee853a;
}