.text-terciary-yellowish {
    --tw-text-opacity: 1;
    color: #F4924B;
}
.bg-secondary-greenStrong {
    --tw-text-opacity: 1;
    background-color: #305041;
}
.bg-secondary-greenStrong:hover {
    --tw-text-opacity: 1;
    background-color: #57bc8e;
}
.border-secondary-greenStrong{
    border-color: #305041;
}
.focus\:border-secondary-greenStrong:focus {
    --tw-border-opacity: 1;
}
